/* Base animation utility */
.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-in-up-slow {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.fade-in-left {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Delay utilities */
.delay-100 {
  animation-delay: 0.1s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-700 {
  animation-delay: 0.7s;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}
