/* Base animation utility */
.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-in-up-slow {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.fade-in-left {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}