:root {
    /* Fonts */
    --heading-font: "Playfair Display", serif;
    --body-font: "Source Sans 3", sans-serif;

    /* FX */
    --box-shadow: 0 0px 16px rgb(17, 35, 54);
    --nav-box-shadow: 0 4px 12px rgba(228, 183, 178, 0.4);
    --text-gradient: 



    /* Colors General */
    --primary: #112336;
    --background-color: #fffaf0;
    --headerColor: #112336;
    --bodyTextColor: #112336;

    /* Nav */
    --nav-background-color: #e4b7b2;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;

}

html, body {
  scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p, a, li, ul, span {
    font-family: var(--body-font);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


@media screen and (min-width: 1074px) {
    html, body {
    scroll-snap-type: none;
  }
}

