.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  background-color: var(--nav-background-color);
  font-family: 'Segoe UI', sans-serif;
  box-shadow: var(--nav-box-shadow);
  position: fixed;
  margin: 0 auto;
  z-index: 10000;
  width: 100%;
}

.navbar .nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.logo {
  font-family: var(--heading-font);
  width: 100%;
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icons a {
  margin-left: 16px;
}

.icons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
